APP_NAME=m3aml-ERP
APP_ENV=production
APP_KEY=a9645cf50c2b58166f1a696123ce1117
APP_DEBUG=false
APP_URL=https://sanad-erp.tech
APP_PORT=8080

# PostgreSQL
DB_DRIVER=postgres
DB_HOST=db
DB_PORT=5432
DB_DATABASE=almoq3_db
DB_USERNAME=almoq3
DB_PASSWORD=secret

# Redis
CACHE_DRIVER=redis
CACHE_HOST=redis
CACHE_PORT=6379
CACHE_PASSWORD=
