# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Dependency directories
vendor/

# Storage & Uploads
storage/logs/*.log
uploads/*
!uploads/.gitkeep

# OS files
.DS_Store
Thumbs.db
